.home-container {
  background-image: url("./background.avif");
}
.men-container {
  background-image: url("./men-background.avif");
}
.lady-container {
  background-image: url("./ladies-background.avif");
}

.men-container,
.lady-container {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media (max-width: 768px) {
  .lady-container {
    background-size: cover;
    background-position: center;
  }
}
