/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

body {
  -webkit-tap-highlight-color: transparent;
  background-image: url("../public/background.png");
  background-attachment: fixed;
  background-size: cover;
}

a,
button {
  cursor: pointer;
}

@media (min-width: 1600px) {
  html {
    font-size: 22px;
  }
}
