@import url("https://fonts.googleapis.com/css2?family=Fuggles&display=swap");
@import url("./assets/CSS/Home.css");
@import "react-image-gallery/styles/css/image-gallery.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
#root {
  height: 100vh;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scrollbar-color: lime black;
  scrollbar-width: thin;
}
*::selection {
  background-color: rgb(8, 251, 0);
  color: rgb(4, 4, 4);
}
body {
  -webkit-tap-highlight-color: transparent;
}

a,
button {
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: lime;
}

.image-gallery {
  margin-left: auto;
  margin-right: auto;
  width: clamp(250px, 70vw, 500px);
  height: 200px;
}
.image-gallery img {
  width: 100%;
}

.main-gallery img {
  cursor: auto;
}

.black-background {
  background-image: url("/black-background.jpg");
}
.pink-background {
  background-image: url("/pink-background.jpg");
  background-size: cover;
}
@media (min-width: 1600px) {
  html {
    font-size: 22px;
  }
}
