@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fuggles&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  -webkit-tap-highlight-color: transparent;
}
.bg-fixed {
  background-image: url(./background.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 120vh;
  z-index: -1;
  filter: brightness(70%);
}
a,
button {
  cursor: pointer;
}

@media (min-width: 1600px) {
  html {
    font-size: 22px;
  }
}
